.home5 {
    width: 100%;
    background-color: #eff0f1;
    position: relative;
}

.all_home5_second_item {
    transform: translateY(-48%);
}

.content_home5_second {
    text-align: center;
}

.content_home5_second h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: $primary;
}

.content_home5_second p {
    color: $font-done;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.005em;
    padding: 20px 0;
    padding-left: calc(calc(100% - 1200px)/2);
    padding-right: calc(calc(100% - 1200px)/2);
}