.home2{
    width: 100%;
    position: relative;
}

.home2_all {
    background-color: $font-letter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.home2 .left_home2 img{
    width: 100%;
}

.left_home2 {
    width: 50%;
    padding: 20px;
}

.right_home2 {
    width: 50%;
    padding: 20px;
}

.content_home2 h3 {
    color: $primary;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.content_home2 p {
    line-height: 1.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-top: 15px;
    color: $font-done;
    text-align: justify;
}

