.header_home{
 position: relative;
}

.icon_header_home{
    width: 50%;
}

.header_home .header_top_home img{
    position: relative;
    margin-top: 70px;
}

.header_top_home .content_icon_header_home{
    display: flex;
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
    padding: 0 120px;
    justify-content: space-between;
    align-items: center;
}

.header_bottom_home{
    position: absolute;
    bottom: 26%;
    left: 10%;
    right: 6%;
}

.header_bottom_home .flexbox_home{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_bottom_home .square_header_home{
    display:flex;
    text-align: center;
}

.square_items  {
    margin-left: 50px;
}

.square_item  img{
   width: 90%;
   cursor: pointer;
}

.square_item{
    display: flex;
}

.content_name_header_home {
    padding-top: 200px;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    color: $font-letter;

}

.content_flex_box_header_home {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 2vw;
}

.flexbox_home {
    color: $font-letter;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.square_items p{
   margin-top: 15px;
}