.home4 {
    width: 100%;
    position: relative;
    background-color: $font-letter;
}

.img_home4_top {
    height: 30%;
}

.content_home4 {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}

.content_center_home4 h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: $primary;
}

.content_center_home4 p {
    padding-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.005em;
    color: $font-done;
    text-align: justify;
}

.flex_home4 {
    padding-left: 64px;
}

.top_rectangles_home4 {
    display: flex;
    gap: 80px;
}

.one_rectangles_home4 {
    width: 183px;
    height: 140px;
    border-radius: 15px;
    border: 2px solid $primary;
}

.content_ones {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: $primary;
    text-align: center;
    padding-top: 45px;
}

.bottom_rectangles_home4 {
    display: flex;
    padding-top: 34px;
    gap: 80px;
}

.img_bottom_home4 {
    height: 30%;
    display: flex;
    align-items: flex-end;
}