.logo {
    width: 10%;
    cursor: pointer;
}

.navbar .nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    height: 70px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
}

.nav .nav-items li {
    display: inline-block;
}

.nav .nav-items a:hover {
    color: rgb(246, 112, 22);
    transition: 1s;
}

.nav .nav-items li a {
    text-decoration: none;
    margin-left: 40px;
    font-size: 22px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: #202857;
}

.nav-items .nav_home{
    color: rgb(246, 112, 22) !important;
}
