$primary: #f07e2a;
$font-letter: #fcfcfc;
$secondary: #202857;
$third-color: #eff0f1;
$font-done: #222222;
$second_leter: #f07e2a;
$font_done2: #333333;
$scroll-bar: #d9d9d9;
$input: #e7e5e5;
$flex_service: #ffffff;
$b1cd: #500033;
$b1cl: #ff0077;
$b2cd: #000050;
$b2cl: #0033ff;
$b3cd: #00501d;
$b3cl: #00ff44;
$b4cd: #554d00;
$b4cl: #ff4e00;
$b5cd: #300050;
$b5cl: #8000ff;
$black: #000;
$white: #fff;
$grey: #b5b4b4;